<%= @results %>

<table class="table">
	<% @results.each do |row| %>

		<tr>
			<td><%= row['Name']%></td>
			<td><%= row['Phone']%></td>
			<td><%= row['DateStamp']%></td>
			<td><%= row['Barber']%></td>
			<td><%= row['Color']%></td>
		</tr>	
	
	<% end %>
</table>
